

	<!-- ======================================== -->
	<!-- Appenders -->
	<!-- ======================================== -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%-5level %logger{36} - %msg%n</pattern>
			<!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">

         <file>${jboss.server.log.dir}/reply-ejb.log</file>  
	 
		<!-- <append>false</append> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily roll over -->
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>


	<!-- <appender name="rrc-api-audit-file" class="ch.qos.logback.core.FileAppender">
	    <file>${creemore-api.log.dir}/rrc-api-audit.log</file>
	    
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			daily roll over
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			keep 30 days' worth of history
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %msg%n</pattern>			
		</encoder>
	</appender> -->

	<!-- ======================================== -->
	<!-- noise reduction - info only -->
	<!-- ======================================== -->
	<logger name="com.home.digital" level="debug" />
	<logger name="javax" level="debug" />

	<!-- ======================================== -->
	<!-- toggle for specific debugging -->
	<!-- ======================================== -->
	<!-- <logger name="com.acme.core" level="debug" /> -->
	<!-- <logger name="com.home.digital" level="debug" /> -->
	<!-- <logger name="com.home.digital.common" level="debug" /> -->

<!-- 	<logger name="audit-logger" level="DEBUG" additivity="false">
        <appender-ref ref="rrc-api-audit-file"/>
    </logger>
 -->    
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</configuration>
