<configuration scan="true">

	<!-- ======================================== -->
	<!-- Appenders -->
	<!-- ======================================== -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level [%thread] %logger{36} - %msg%n</pattern>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
			<!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${creemore-api.log.dir}/post-proxy.log</file>

		<!-- <append>false</append> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily roll over -->
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>

		<encoder>
			<!-- <pattern>%date %level %logger{10} %msg%n</pattern> -->
			<!-- <pattern>%-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="security-event"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${creemore-api.log.dir}/post-proxy-security.log</file>

		<!-- <append>false</append> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily roll over -->
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date %level %logger{10} %msg%n</pattern>
			<!-- <pattern>%-5level %logger{36} - %msg%n</pattern> -->
			<!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
		</encoder>
	</appender>

	<!-- additivity=false ensures security data only goes to the security log -->
	<logger name="security-logger" level="DEBUG" additivity="false">
		<appender-ref ref="security-event" />
	</logger>

	<appender name="post-proxy-audit-file" class="ch.qos.logback.core.FileAppender">
		<file>${creemore-api.log.dir}/post-proxy-audit.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily roll over -->
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>%date %level %logger{10} %msg%n</pattern> -->
			<!-- <pattern>%-5level %logger{36} - %msg%n</pattern> -->
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="audit-logger" level="DEBUG" additivity="false">
		<appender-ref ref="post-proxy-audit-file" />
	</logger>

	<!-- ======================================== -->
	<!-- noise reduction - info only -->
	<!-- ======================================== -->
	<logger name="com.home.digital" level="info" />
	<logger name="org.springframework" level="info" />
	<logger name="org.apache.tiles" level="warn" />

	<!-- ======================================== -->
	<!-- toggle for specific debugging -->
	<!-- ======================================== -->
	<!-- <logger name="com.home.digital.core" level="debug" /> -->
	<!-- <logger name="com.home.digital.common.converter" level="debug" /> -->
	<!-- <logger name="com.home.digital.server.app" level="debug" /> -->
	<!-- <logger name="com.home.digital.server.api" level="debug" /> -->
	<!-- <logger name="com.home.digital.server.security" level="debug" /> -->
	<!-- <logger name="org.springframework.security" level="debug" /> -->

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</configuration>
