<configuration scan="true">

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{36} [%thread] - %msg%n</pattern>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/ejb-test.log</file>  
<!-- 		<file>c:\var\log\rrc-test.log</file> -->
		<append>false</append>
		<encoder>
			<pattern>%-5level %logger{36} [%thread] - %msg%n</pattern>
			<!-- <pattern>%date %level %logger{10} [%file:%line] %msg%n</pattern> -->
			<!-- <pattern>%-5level %logger{36} - %msg%n</pattern> <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
		</encoder>
	</appender>

	<!-- ======================================== -->
	<!-- toggle for specific debugging -->
	<!-- ======================================== -->
	<!-- <logger name="org.springframework.security" level="debug" /> -->
	<!-- <logger name="com.home.digital" level="debug" /> -->
	<!-- <logger name="com.home.digital.adapter.local.ims.gradsofivalidation" level="debug" /> -->

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</configuration>
